* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 20%;
  height: auto;
  vertical-align: middle;
  overflow: hidden;
}

.title-image {
  width: 100%;
  opacity: 90%;
}

.title-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 20%;
  border: 6px solid white;

  white-space: nowrap;
  line-height: 190%;
  font-size: 6vw;
  font-weight: 600;
  position: absolute;
}

.about-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  width: 80%;
  height: auto;
  color: black;
  padding: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  width: 30%;
}

.about-content {
  width: 60%;
  font-size: 1.5vw;
  text-align: left;
}
