* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Rubik', 'Noto Sans', sans-serif;
}

.title-image {
  width: 100%;
  opacity: 90%;
}

.title-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 20%;
  border: 6px solid white;

  white-space: nowrap;
  line-height: 190%;
  font-size: 6vw;
  font-weight: 600;
  position: absolute;
}

.about-box {
  text-align: center;
  height: auto;
  padding: 5vw 0 0 0;
  font-size: 4vw;
  color: black;
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  padding: 1.5em 0;
}

.info-box img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.info-box p {
  display: inline-block;
  font-size: 2vw;
  text-align: start;
  width: 20em;
  overflow-wrap: break-word;
  line-height: 1.5em;
  margin: 1em;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  margin: 10vh;
}

.category-box {
  border: 0.2em white solid;
  border-radius: 2em;
  height: 16vh;
  width: 32vw;
  padding: 1em;
  margin: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;

  box-shadow: 0px 3px 3px rgba(24, 22, 23, 0.5);
  transition-duration: 0.2s;
}

.category-box:hover {
  box-shadow: 0px 10px 30px rgba(24, 22, 23, 0.5);
  bottom: 10px;
}

.category-box img {
  height: 6rem;
  width: 6rem;
  margin: 2vw;
}

.category-box h4 {
  font-size: 3vw;
  color: black;
  margin: 2vw;
}

footer {
  padding: 2vw 0;
  background-color: #1d3557;
  width: 100vw;

  font-size: 2.5vw;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: auto;

  margin: 1em;
}

.footer-icons img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 2vw;
}